@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
  margin: 20px;
  background-image: url('./grey-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*ol, ul {*/
/*  padding-left: 30px;*/
/*}*/

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 1vw;
  font-size: 2vw;
}

.square {
  font-family: 'Major Mono Display', monospace;
  color:white;
  background-color: rgba(157, 156, 156, 0.4);
  border: 0.15vw solid #DBDADA;
  float: left;
  font-size: 2vw;
  font-weight: bold;
  line-height: 3.4vw;
  height: 10vw;
  width: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

/*.game-info {*/
/*  margin-left: 20px;*/
/*}*/

/*---------------colours*/
.game-style{
  color:#777778;
  text-align:center;
  font-family: 'Major Mono Display', monospace;
  padding-left: 28.5vw;
}